{% extends 'bootstrap/base.html' %}
{% import '_macro.html' as ui %}

{% block html_attribs %} xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" {% endblock %}
{% block title %}{{ super() }}{% endblock %}
{% block metas %}
{{ super() }}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block styles %}
{{ super() }}
    <link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{% block navbar %}
{{ ui.navbar() }}
{% endblock %}


{% block content %}
{% autoescape false %}
<div id="content">
{{ content }}
 </div>
{% endautoescape %}
{% endblock %}


{% block scripts %}
{{ super() }}
    <script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.js"></script>
    <script src="{{ url_for('static',filename='js/common.js') }}" type="application/javascript" ></script>
{% endblock %}

{% block footer %}

{% endblock %}

{% endblock %}